<?php

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
$url = '';

if ($customerSession->isLoggedIn()) {
    $id = $customerSession->getData('customer_id');
    $customerFactory = $objectManager->get('\Magento\Customer\Model\CustomerFactory')->create();
    $customer = $customerFactory->load($id);
    $url = $customer->getData('report_bi');
}

?>

<?php if (!empty($url)): ?>
<iframe width="600" height="373.5" src="<?php echo $url ?>" frameborder="0" allowFullScreen="true"></iframe>
<?php else: ?>
    <p>Relatório não cadastrado</p>
<?php endif;
